


/* Start:/bitrix/components/bitrix/breadcrumb/templates/.default/style.css*/
.bx_breadcrumbs{
    margin-bottom:15px;
    padding-top:0px
}
.bx_breadcrumbs ul{
    margin:0;
    padding:0
}
.bx_breadcrumbs ul li{
    display:inline-block;
    line-height:20px
}
.bx_breadcrumbs ul li a{
    display:block;
    padding:0 15px;
    background:url(/bitrix/components/bitrix/breadcrumb/templates/.default/images/breadcrumbs_arrow.png) no-repeat center right;
    color:#555;
    text-decoration:none;
    font-size:11px;
    opacity:.5
}
.bx_breadcrumbs ul li:first-child a{padding-left:0}
.bx_breadcrumbs ul li:last-child  a{background:none}
.bx_breadcrumbs ul li a:hover{
    text-decoration:underline;
    line-height:20px;
    opacity:1
}
.bx_breadcrumbs ul li span{
    display:block;
    padding:0 15px;
    color:#aaa;
    text-decoration:none;
    font-size:11px
}
.bx_breadcrumbs,
.bx_breadcrumbs ul li{
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
/* End */



/* Start:../template_styles.css*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
body,
input,
textarea,
button,
blockquote {
  padding: 0;
  margin: 0;
  font-weight: normal;
}
ul {
  list-style: none;
}
ol {
  list-style-position: inside;
}
a,
input,
textarea {
  outline: none;
}
input,
textarea,
button {
  border: 0;
  font: inherit;
  -webkit-appearance: none;
}
fieldset,
img {
  border: 0;
  padding: 0;
  margin: 0;
}
table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
}
table th,
table td {
  padding: 0;
}
input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
textarea {
  resize: none;
}
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
.nomargin {
  padding: 0;
  margin: 0;
}
.blocky {
  content: '';
  display: block;
}
.inline-blocky {
  content: '';
  display: inline-block;
}
.clear {
  clear: both;
}
.centered {
  margin: 0 auto;
}
.overflowed {
  overflow: hidden;
}
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hidden-animate {
  visibility: hidden;
  opacity: 0;
}
.visible-animate {
  visibility: visible;
  opacity: 1;
}
.force-hardware {
  -webkit-transform: translate3d(0);
  -moz-transform: translate3d(0);
  transform: translate3d(0);
}
html {
  height: 100%;
  min-width: 1010px;
  overflow: auto;
}
body {
  background: url('../img/bg.jpg') 50% 0;
  font: 14px Arial, sans-serif;
  color: #353535;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}
body:after {
  content: '';
  display: block;
  width: 12px;
  height: 100%;
  background: url('../img/stripes-left.jpg');
  position: absolute;
  top: 0;
  left: 0;
}
.inner {
  width: 980px;
  margin: 0 auto;
}
.inner:after {
  content: '';
  display: block;
  clear: both;
}
.button {
  display: inline-block;
  padding: 0 30px;
  height: 50px;
  background: #3b336f 50%;
  background: linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -moz-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -webkit-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -o-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -ms-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  white-space: nowrap;
  line-height: 50px;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.button span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #bbbdbf 50%;
  background: linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -moz-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -webkit-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -o-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -ms-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
.button span:before {
  content: '';
  display: block;
  width: 75%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: #a0a1a2 50%;
  background: linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -moz-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -webkit-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -o-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -ms-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.button:before {
  content: '';
  display: block;
  width: 75%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: #332c61 50%;
  background: linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -moz-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -webkit-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -o-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -ms-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.button:hover span,
.button.active span {
  visibility: visible;
  opacity: 1;
}
header {
  padding: 51px 0 49px;
  background: url('../img/header-bg.jpg') 50% 0;
  border-bottom: 2px solid #bdbfc1;
  font-size: 14px;
  color: #292929;
}
header .logo {
  float: left;
  width: 287px;
  height: 68px;
  background: url('../img/logo.png');
  margin-right: 22px;
}
header .phones {
  float: left;
  margin-top: 7px;
  font-size: 24px;
  line-height: 26px;
}
header .lamarty {
  float: right;
  margin-top: 10px;
  margin-right: 9px;
  width: 204px;
  height: 50px;
  background: url('../img/lamarty.png');
}
header .search {
  float: right;
  width: 240px;
}
header .search ul.contacts {
  display: table;
  margin-top: 4px;
  width: 100%;
  white-space: nowrap;
}
header .search ul.contacts li {
  display: table-cell;
  vertical-align: top;
}
header .search ul.contacts li:first-child {
  margin-right: 12px;
    float: left;
}
/*header .search ul.contacts li:first-child:before {
  content: '';
  display: inline-block;
  vertical-align: -3px;
  width: 17px;
  height: 18px;
  margin-right: 5px;
  background: url('../img/ico/icq.png');
}*/
header .search ul.contacts li:last-child {
  text-align: right;
}
header .search ul.contacts li:last-child:before {
  content: '';
  display: inline-block;
  vertical-align: -5px;
  width: 20px;
  height: 15px;
  margin-right: 3px;
  background: url('../img/ico/mail.png');
}
header .search form {
  position: relative;
  margin-top: 9px;
}
header .search form input[type="text"] {
  width: 100%;
  height: 34px;
  border: 2px solid #bdbfc1;
  padding: 0 40px 0 9px;
}
header .search form input[type="text"]:-moz-placeholder {
  color: #bdbfc1;
  opacity: 1;
}
header .search form input[type="text"]::-moz-placeholder {
  color: #bdbfc1;
  opacity: 1;
}
header .search form input[type="text"]:-ms-input-placeholder {
  color: #bdbfc1;
}
header .search form input[type="text"]::-webkit-input-placeholder {
  color: #bdbfc1;
}
header .search form input[type="text"] .text-placeholder {
  color: #bdbfc1 !important;
}
header .search form input[type="submit"] {
  width: 21px;
  height: 23px;
  background: url('../img/ico/search.png');
  position: absolute;
  top: 8px;
  right: 7px;
  text-indent: -9999px;
}
.container {
  width: 980px;
  margin: 0 auto 70px;
}

.container nav {
  margin: -26px auto 25px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}
/*
.container nav a {
  float: right;
  padding-left: 15px;
  margin-left: -15px;
  height: 50px;
  background: #3b336f 50%;
  background: linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -moz-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -webkit-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -o-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -ms-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  white-space: nowrap;
  line-height: 50px;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.container nav a:nth-child(7) {
  width: 115px;
}
.container nav a:nth-child(6) {
  width: 125px;
}
.container nav a:nth-child(5) {
  width: 100px;
}
.container nav a:nth-child(4) {
  width: 225px;
}
.container nav a:nth-child(3) {
  width: 110px;
}
.container nav a:nth-child(2) {
  width: 180px;
}
.container nav a:nth-child(1) {
  width: 125px;
}
.container nav a span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #bbbdbf 50%;
  background: linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -moz-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -webkit-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -o-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -ms-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
.container nav a span:before {
  content: '';
  display: block;
  width: 75%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: #a0a1a2 50%;
  background: linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -moz-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -webkit-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -o-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -ms-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.container nav a:before {
  content: '';
  display: block;
  width: 75%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: #332c61 50%;
  background: linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -moz-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -webkit-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -o-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -ms-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.container nav a:last-child {
  padding-left: 0;
  margin-left: 0;
}
.container nav a:hover span,
.container nav a.active span {
  visibility: visible;
  opacity: 1;
}*/
.container h2 {
  font-size: 30px;
  color: #3b3370;
  margin-bottom: 15px;
}
.container h2:after {
  content: '';
  display: block;
  clear: both;
}
.container h2 .filter {
  float: right;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.container h2 .filter small {
  text-transform: none;
}
.container h2 .filter .filter-button {
  float: left;
  margin-right: 12px;
  width: 88px;
  height: 44px;
  text-align: center;
  color: white;
  border-radius: 22px;
  background: rgba(0, 0, 0, 0.5);
  line-height: 44px;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
.container h2 .filter .filter-button span {
  display: inline-block;
  line-height: 13px;
  vertical-align: middle;
}
.container h2 .filter .filter-button.active,
.container h2 .filter .filter-button:hover {
  background: rgba(59, 51, 112, 0.65);
}
.container h2 .details {
  float: right;
  text-align: right;
  font-size: 14px;
  color: #353535;
  line-height: 14px;
}
.container h2 .details .special {
  color: #dc5039;
  font-size: 12px;
  text-transform: uppercase;
}
.breadcrumbs {
  font-size: 18px;
  color: #3b3370;
  margin-bottom: 32px;
}
.breadcrumbs a {
  display: inline-block;
  border-bottom: 1px solid;
  margin-right: 20px;
  position: relative;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
.breadcrumbs a:hover {
  border-bottom-color: transparent;
}
.breadcrumbs a:after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 11px;
  background: url('../img/ico/breadcrumbs.png');
  position: absolute;
  top: 50%;
  margin-top: -3px;
  right: -15px;
}
.breadcrumbs a:last-child:after {
  display: none;
}
.function-blocks {
  font-size: 0;
  word-spacing: 0;
  margin: 40px 0 32px;
}
.function-block {
  display: inline-block;
  vertical-align: top;
  margin: 0 33px 15px 0;
  width: 220px;
  font-size: 15px;
  word-spacing: normal;
  position: relative;
  z-index: 1;
}
.function-block:nth-child(4n) {
  margin-right: 0;
}
.function-block > a {
  display: block;
  height: 50px;
  background: #3b336f 50%;
  background: linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -moz-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -webkit-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -o-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -ms-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  border-radius: 5px;
  color: white;
  text-align: center;
  white-space: nowrap;
  line-height: 50px;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.function-block > a strong {
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.function-block > a strong:after {
  content: '';
  display: block;
  width: 12px;
  height: 7px;
  background: url('../img/ico/drop-down.png');
  position: absolute;
  top: 50%;
  margin-top: -3.5px;
  right: 8px;
}
.function-block > a span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #bbbdbf 50%;
  background: linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -moz-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -webkit-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -o-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -ms-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition-property: opacity, visibility;
  -moz-transition-property: opacity, visibility;
  -o-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}
.function-block > a span:before {
  content: '';
  display: block;
  width: 75%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: #a0a1a2 50%;
  background: linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -moz-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -webkit-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -o-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -ms-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.function-block > a:before {
  content: '';
  display: block;
  width: 75%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: #332c61 50%;
  background: linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -moz-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -webkit-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -o-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -ms-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.function-block > a:hover strong {
  text-decoration: underline;
}
.function-block > a.active span {
  visibility: visible;
  opacity: 1;
}
.function-block > a.active strong:after {
  background: url('../img/ico/drop-up.png');
}
.function-block > a.active + ul {
  visibility: visible;
  opacity: 1;
  top: 40px;
}
.function-block > a:active + ul {
  -webkit-transition: opacity 0.14s ease-out;
}
.function-block ul {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 12px;
  border: 2px solid #848484;
  background: white;
  border-radius: 5px;
  color: #848484;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
.function-block ul li {
  font-weight: bold;
  position: relative;
}
.function-block ul li a {
  display: block;
  height: 50px;
  padding: 0 23px;
  line-height: 50px;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
.function-block ul li a span {
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
}
.function-block ul li a:after {
  content: '';
  display: block;
  width: 7px;
  height: 12px;
  background: url('../img/ico/drop-right-grey.png');
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: 9px;
}
.function-block ul li a:hover,
.function-block ul li a.active {
  color: white;
  background: #848484;
}
.function-block ul li a:hover:after,
.function-block ul li a.active:after {
  background: url('../img/ico/drop-right-white.png');
}
.function-block ul li > ul {
  visibility: hidden;
  opacity: 0;
  top: -14px;
  left: 216px;
  padding-top: 12px;
}
.function-block ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  top: -14px;
}
.home-carousel {
  height: 334px;
  margin-bottom: 30px;
  position: relative;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  overflow: hidden;
}
.home-carousel .slide {
  width: 100%;
  height: 334px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home-carousel .slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.home-carousel .home-nav > div {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: absolute;
  bottom: 11px;
  z-index: 106;
  cursor: pointer;
  text-indent: -9999px;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
.home-carousel .home-nav > div.home-prev {
  left: 11px;
  background: url('../img/ico/prev.png') 12px 50% no-repeat rgba(0, 0, 0, 0.5);
}
.home-carousel .home-nav > div.home-next {
  right: 11px;
  background: url('../img/ico/next.png') 16px 50% no-repeat rgba(0, 0, 0, 0.5);
}
.home-carousel .home-nav > div:active {
  -webkit-transform: scale(1.13) translateZ(0);
  -moz-transform: scale(1.13) translateZ(0);
  transform: scale(1.13) translateZ(0);
}
.home-carousel .home-dots {
  width: 100%;
  position: absolute;
  bottom: 13px;
  z-index: 105;
  text-align: center;
  line-height: 0;
}
.home-carousel .home-dots .home-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: white;
  border: 5px solid white;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
.home-carousel .home-dots .home-dot.active {
  background: #1f445e;
}
ul.news {
  font-size: 0;
  word-spacing: 0;
}
ul.news li {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  padding: 5px 7px 12px;
  margin: 0 14px 15px 0;
  font-size: 13px;
  color: #2b2b2b;
  word-spacing: normal;
  background: #dadbd9;
  border-radius: 5px;
  line-height: 18px;
  position: relative;
  box-shadow: 3px 3px 4px transparent;
  -moz-box-shadow: 3px 3px 4px transparent;
  -webkit-box-shadow: 3px 3px 4px transparent;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
ul.news li:nth-child(4n) {
  margin-right: 0;
}
ul.news li .news-pic {
  background: white;
  border: 1px solid #e2dfd6;
  padding: 8px;
  margin-bottom: 19px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
ul.news li .news-pic span {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #e2dfd6;
  overflow: hidden;
  position: relative;
}
ul.news li .news-pic span:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.3);
}
ul.news li .news-pic span img {
  display: block;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}
ul.news li .news-date {
  width: 62px;
  padding-left: 8px;
  height: 25px;
  font-size: 11px;
  color: #3b3b3b;
  background: url('../img/news-date.png');
  line-height: 22px;
  position: absolute;
  top: 189px;
  left: 3px;
  z-index: 1;
}
ul.news li .news-special {
  width: 148px;
  height: 25px;
  background: url('../img/news-special.png');
  color: white;
  font-size: 11px;
  font-weight: bold;
  padding-left: 48px;
  text-align: center;
  line-height: 22px;
  position: absolute;
  top: 189px;
  left: 3px;
}
ul.news li h4.news-title {
  padding: 0 7px;
  margin-bottom: 6px;
  font-size: 16px;
  color: #787a7b;
  font-weight: bold;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
ul.news li .news-text {
  padding: 0 7px;
  height: 72px;
  overflow: hidden;
}
ul.news li .more {
  padding: 0 7px;
  font-size: 12px;
  color: #787a7b;
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 10px;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
ul.news li:hover {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
ul.news li:hover h4.news-title {
  color: #3b3370;
}
ul.news li:hover .more {
  color: #3b3370;
}
ul.news.pics {
  margin-top: 37px;
  margin-bottom: 17px;
}
ul.news.pics .news-pic {
  margin-bottom: 0;
}
ul.news.pics .news-pic:after {
  content: '';
  display: block;
  width: 81px;
  height: 81px;
  background: url('../img/ico/zoom.png');
  position: absolute;
  top: 50%;
  margin-top: -40.5px;
  left: 50%;
  margin-left: -40.5px;
  -webkit-transform: scale(0.9) translateZ(0);
  -moz-transform: scale(0.9) translateZ(0);
  transform: scale(0.9) translateZ(0);
  visibility: hidden;
  opacity: 0;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
ul.news.pics li a:hover .news-pic:after {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1) translateZ(0);
  -moz-transform: scale(1) translateZ(0);
  transform: scale(1) translateZ(0);
}
.link-all {
  text-align: center;
  margin-top: 14px;
}
.link-all.link-back {
  margin-top: 67px;
}
ul.page-navi {
  margin-top: 35px;
  text-align: center;
  font-size: 0;
  word-spacing: 0;
}
ul.page-navi li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  color: white;
  margin-right: 5px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background: #3b336f 50%;
  background: linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -moz-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -webkit-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -o-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  background: -ms-linear-gradient(top, #3b336f 50%, #2c2653 50%);
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.25);
}
ul.page-navi li:last-child {
  margin-right: 0;
}
ul.page-navi li:before {
  content: '';
  display: block;
  width: 75%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: #332c61 50%;
  background: linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -moz-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -webkit-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -o-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  background: -ms-linear-gradient(left, #332c61 50%, rgba(51, 44, 97, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
ul.page-navi li span {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #bbbdbf 50%;
  background: linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -moz-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -webkit-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -o-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  background: -ms-linear-gradient(top, #bbbdbf 50%, #858585 50%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
ul.page-navi li span:before {
  content: '';
  display: block;
  width: 75%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  background: #a0a1a2 50%;
  background: linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -moz-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -webkit-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -o-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  background: -ms-linear-gradient(left, #a0a1a2 50%, rgba(160, 161, 162, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
ul.page-navi li:hover span,
ul.page-navi li.active span {
  visibility: visible;
  opacity: 1;
}
ul.page-navi li a {
  display: block;
  min-width: 35px;
  height: 26px;
  line-height: 26px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
ul.page-navi li.start a {
  background-image: url('../img/ico/start.png');
  padding: 0px 5px 0px 25px; background-position: 7px 8px;
}
ul.page-navi li.end a {
  background-image: url('../img/ico/end.png');
  padding: 0px 25px 0px 5px; background-position: 50px 8px;
}
ul.page-navi li.prev a {
  background-image: url('../img/ico/page-prev.png');
  padding: 0px 5px 0px 20px; background-position: 7px 8px;
}
ul.page-navi li.next a {
  background-image: url('../img/ico/page-next.png');
  padding: 0px 20px 0px 5px; background-position: 48px 8px;
}
ul.page-navi li.disabled {
  opacity: 0.5;
}
ul.page-navi li.disabled span {
  display: none;
}
article p {
  line-height: 17px;
  margin-bottom: 17px;
}
article .article-pic {
  margin-bottom: 20px;
  height: 336px;
  overflow: hidden;
  border-radius: 5px;
  text-align: center;
  line-height: 0;
  position: relative;
}
article .article-pic:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/article-pic.png');
  position: absolute;
  top: 0;
  left: 0;
}
article .article-pic img {
  height: 100%;
  min-width: 100%;
}
article a.load {
  display: inline-block;
  width: 232px;
  padding-top: 109px;
  text-align: center;
  background: url('../img/ico/load.png') 50% 0 no-repeat;
  font-weight: bold;
  font-size: 16px;
  color: #dd503c;
  margin-right: 10px;
  margin-bottom: 15px;
}
article a.load-price {
    background: url('../img/ico/load-price.png') 50% 0 no-repeat;
}
article a.load:after {
  content: '';
  display: inline-block;
  content: 'Скачать';
  margin-top: 14px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 1px solid;
  line-height: 12px;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
article a.load:hover:after {
  border-color: transparent;
}
form.default {
  width: 497px;
  font-size: 0;
  word-spacing: 0;
}
form.default fieldset {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  word-spacing: normal;
  padding-right: 15px;
  margin-bottom: 10px;
}
form.default fieldset.half {
  display: inline-block;
  width: 50%;
}
form.default fieldset.files {
  font-size: 12px;
  text-transform: uppercase;
  color: #dd503c;
  margin-top: 16px;
}
form.default fieldset.files p.filename {
  overflow: hidden;
  line-height: 12px;
  margin-bottom: 12px;
}
form.default fieldset.files p.filename .name {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
}
form.default fieldset.files p.filename a {
  float: right;
  line-height: 12px;
  border-bottom: 1px solid;
  margin-right: 18px;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
form.default fieldset.files p.filename a:hover {
  border-bottom-color: transparent;
}
form.default label {
  display: block;
  margin-bottom: 10px;
}
form.default input[type="text"],
form.default textarea,
form.default select{
  width: 100%;
  height: 34px;
  border: 2px solid #bdbfc1;
  padding: 0 10px;
}
form.default input[type="text"].error,
form.default textarea.error{
    border-color: red;
}
form.default label.error{
    display: none;
}
form.default textarea {
  height: 120px;
  padding: 8px 10px;
}
form.default input[type="button"] {
  float: right;
  width: 92px;
  height: 34px;
  border: 2px solid #bdbfc1;
  background: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
form.default input[type="button"]:hover {
  background: #f2f2f2;
}
form.default input[type="button"][disabled] {
  color: #aaaaaa;
  background: white;
  cursor: default;
}
form.page-search {
  position: relative;
  margin-bottom: 32px;
}
form.page-search input[type="text"] {
  width: 100%;
  height: 34px;
  border: 2px solid #bdbfc1;
  padding: 0 40px 0 9px;
}
form.page-search input[type="text"]:-moz-placeholder {
  color: #bdbfc1;
  opacity: 1;
}
form.page-search input[type="text"]::-moz-placeholder {
  color: #bdbfc1;
  opacity: 1;
}
form.page-search input[type="text"]:-ms-input-placeholder {
  color: #bdbfc1;
}
form.page-search input[type="text"]::-webkit-input-placeholder {
  color: #bdbfc1;
}
form.page-search input[type="text"] .text-placeholder {
  color: #bdbfc1 !important;
}
form.page-search input[type="submit"] {
  width: 21px;
  height: 23px;
  background: url('../img/ico/search.png');
  position: absolute;
  top: 8px;
  right: 7px;
  text-indent: -9999px;
}
.fileWrapper {
  position: relative;
  overflow: hidden;
  padding: 0;
  cursor: pointer;
}
.fileWrapper .nicefile {
  cursor: pointer;
}
.fileWrapper .nicefile:hover ~ input[type="button"].fileInputButton {
  background: #f2f2f2;
}
input[type="text"].fileInputText {
  float: left;
  border: 2px solid #b8aa88;
  margin: 0;
  padding: 0 10px;
}
input[type="button"].fileInputButton {
  float: right;
  border: 2px solid #b8aa88;
  background: white;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.map {
  border: 2px solid #adadad;
  border-radius: 3px;
  overflow: hidden;
}
#map {
  height: 364px;
}
.search-result {
  padding: 5px 10px 7px 10px;
  margin-bottom: 20px;
  transition: all 0.14s ease-in-out;
  -moz-transition: all 0.14s ease-in-out;
  -webkit-transition: all 0.14s ease-in-out;
  -o-transition: all 0.14s ease-in-out;
  -ms-transition: all 0.14s ease-in-out;
}
.search-result:hover {
  background: rgba(37, 37, 37, 0.1);
}
.search-result:active {
  background: rgba(37, 37, 37, 0.25);
}
.search-result b {
  font-weight: bold;
  color: #342d62;
  text-decoration: underline;
}
.search-result .number {
  display: table-cell;
  vertical-align: top;
  width: 38px;
  border-right: 2px solid #595858;
  font-size: 24px;
  line-height: 20px;
}
.search-result p.text {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
}
footer {
  padding: 13px 0 26px;
  background: url('../img/footer-bg.jpg') 50% 0;
  color: #8da3b5;
  font-size: 12px;
  line-height: 18px;
  position: relative;
  z-index: 1;
}
footer nav {
  margin-top: 3px;
  margin-bottom: 19px;
}
footer nav a {
  font-size: 14px;
  color: white;
}
footer nav a:after {
  content: '/';
  font-weight: bold;
  margin: 0 4px 0 5px;
  opacity: 0.2;
}
footer nav a:last-child:after {
  display: none;
}
footer .info {
  float: left;
}
footer .leeft {
  float: right;
  clear: right;
}
footer .phones {
  float: right;
  color: white;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 4px;
}
/*
.button1 {
  margin: 0px auto;
  margin-top: 80px;
  margin-bottom: 50px;
  width: 340px;
  border-radius: 5px;
  box-shadow: 4px 1px 5px #2c2654;
  -moz-box-shadow: 4px 1px 5px #2c2654;
  -webkit-box-shadow: 4px 1px 5px #2c2654;
  background: linear-gradient(0deg, #342d63 30%, transparent), linear-gradient(90deg, #2c2653 50%, transparent 40%), linear-gradient(180deg, #433a7d 70%, transparent 80%);
  background: -webkit-linear-gradient(0deg, #342d63 30%, transparent), -webkit-linear-gradient(90deg, #2c2653 50%, transparent 40%), -webkit-linear-gradient(180deg, #433a7d 70%, transparent 80%);
  background: -moz-linear-gradient(0deg, #342d63 30%, transparent), -moz-linear-gradient(90deg, #2c2653 50%, transparent 40%), -moz-linear-gradient(180deg, #433a7d 70%, transparent 80%);
  background: -o-linear-gradient(0deg, #342d63 30%, transparent), -o-linear-gradient(90deg, #2c2653 50%, transparent 40%), -o-linear-gradient(180deg, #433a7d 70%, transparent 80%);
  background: -ms-linear-gradient(0deg, #342d63 30%, transparent), -ms-linear-gradient(90deg, #2c2653 50%, transparent 40%), -ms-linear-gradient(180deg, #433a7d 70%, transparent 80%);
}
.button1:hover {
  background: linear-gradient(0deg, #a3a4a5 30%, transparent), linear-gradient(90deg, #858585 50%, transparent 40%), linear-gradient(180deg, #bdbec0 70%, transparent 80%);
  background: -webkit-linear-gradient(0deg, #a3a4a5 30%, transparent), -webkit-linear-gradient(90deg, #858585 50%, transparent 40%), -webkit-linear-gradient(180deg, #bdbec0 70%, transparent 80%);
  background: -moz-linear-gradient(0deg, #a3a4a5 30%, transparent), -moz-linear-gradient(90deg, #858585 50%, transparent 40%), -moz-linear-gradient(180deg, #bdbec0 70%, transparent 80%);
  background: -o-linear-gradient(0deg, #a3a4a5 30%, transparent), -o-linear-gradient(90deg, #858585 50%, transparent 40%), -o-linear-gradient(180deg, #bdbec0 70%, transparent 80%);
  background: -ms-linear-gradient(0deg, #a3a4a5 30%, transparent), -ms-linear-gradient(90deg, #858585 50%, transparent 40%), -ms-linear-gradient(180deg, #bdbec0 70%, transparent 80%);
  cursor: pointer;
}
.button1 a {
  display: block;
  padding: 16px 100px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.item-name {
  font-size: 30px;
  color: #3b3370;
  float: left;
}
.cost {
  font-size: 30px;
  font-weight: bold;
  color: #3b3370;
  float: right;
  margin-bottom: 30px;
}
.item-info {
  clear: both;
  font-size: 14px;
  color: #353535;
}
*/
.container1 {
  margin-top: 45px;
  margin-bottom: 40px;
  padding-top:1px;
}
.container1:after {
  content: '';
  display: block;
  clear: both;
}
.left-block {
  float: left;
  margin-right: 28px;
}
.right-block {
  float: left;
  width: 615px;
}
.one {
  border: 1px solid red;
  width: 200px;
  height: 30px;
}
.item-name {
  font-size: 30px;
  color: #3b3370;
  float: left;
  margin-bottom: 24px;
}
.cost {
  font-size: 30px;
  font-weight: bold;
  color: #3b3370;
  float: left;
  margin-top: 40px;
}
.item-info {
  clear: both;
  float: left;
  font-size: 14px;
  color: #353535;
}
.button1 {
  margin: 0px auto;
  margin-top: 33px;
  width: 340px;
  border-radius: 5px;
  float: right;
  box-shadow: 4px 1px 5px #2c2654;
  -moz-box-shadow: 4px 1px 5px #2c2654;
  -webkit-box-shadow: 4px 1px 5px #2c2654;
  background: linear-gradient(0deg, #342d63 30%, transparent), linear-gradient(90deg, #2c2653 50%, transparent 40%), linear-gradient(180deg, #433a7d 70%, transparent 80%);
  background: -webkit-linear-gradient(0deg, #342d63 30%, transparent), -webkit-linear-gradient(90deg, #2c2653 50%, transparent 40%), -webkit-linear-gradient(180deg, #433a7d 70%, transparent 80%);
  background: -moz-linear-gradient(0deg, #342d63 30%, transparent), -moz-linear-gradient(90deg, #2c2653 50%, transparent 40%), -moz-linear-gradient(180deg, #433a7d 70%, transparent 80%);
  background: -o-linear-gradient(0deg, #342d63 30%, transparent), -o-linear-gradient(90deg, #2c2653 50%, transparent 40%), -o-linear-gradient(180deg, #433a7d 70%, transparent 80%);
  background: -ms-linear-gradient(0deg, #342d63 30%, transparent), -ms-linear-gradient(90deg, #2c2653 50%, transparent 40%), -ms-linear-gradient(180deg, #433a7d 70%, transparent 80%);
}
.button1:hover {
  background: linear-gradient(0deg, #a3a4a5 30%, transparent), linear-gradient(90deg, #858585 50%, transparent 40%), linear-gradient(180deg, #bdbec0 70%, transparent 80%);
  background: -webkit-linear-gradient(0deg, #a3a4a5 30%, transparent), -webkit-linear-gradient(90deg, #858585 50%, transparent 40%), -webkit-linear-gradient(180deg, #bdbec0 70%, transparent 80%);
  background: -moz-linear-gradient(0deg, #a3a4a5 30%, transparent), -moz-linear-gradient(90deg, #858585 50%, transparent 40%), -moz-linear-gradient(180deg, #bdbec0 70%, transparent 80%);
  background: -o-linear-gradient(0deg, #a3a4a5 30%, transparent), -o-linear-gradient(90deg, #858585 50%, transparent 40%), -o-linear-gradient(180deg, #bdbec0 70%, transparent 80%);
  background: -ms-linear-gradient(0deg, #a3a4a5 30%, transparent), -ms-linear-gradient(90deg, #858585 50%, transparent 40%), -ms-linear-gradient(180deg, #bdbec0 70%, transparent 80%);
  cursor: pointer;
}
.button1 a {
  display: block;
  padding: 16px 100px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.gallery {
  margin-bottom: 770px;
}
.gallery a {
  float: left;
  margin-right: 5px;
}
.gallery a:nth-child(7n+7) {
  margin-right: 0;
}
.gallery:after {
  content: '';
  display: block;
  clear: both;
}
/* End */
/* /bitrix/components/bitrix/breadcrumb/templates/.default/style.css */
/* ../template_styles.css */
